@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@import url(./erpCss.css);
:root {
	--primary : #1F79FF;


	--num-4 : 4px;
	--Border-8 : 8px;
}

html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	letter-spacing: -0.025em;
}

button {
	font-family: inherit;
	letter-spacing: -0.025em;
	cursor: pointer;
}

Select {
	font-family: inherit;  /* 폰트 상속 */
	background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
	 /* 네이티브 화살표를 커스텀 화살표로 대체 */
        -webkit-appearance: none; 
	/* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
}

Select::-ms-expand {
        display: none;/* 화살표 없애기 for IE10, 11*/
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

// *::-webkit-scrollbar {
//     width: 6px;
// 	height: 6px;
// }
// *::-webkit-scrollbar-track {
//     background-color: transparent;
// }
// *::-webkit-scrollbar-thumb { 
// 	background: var(--greyScale-grey1, #7c7f827b);
// 	border-radius: 10px;
	
// }
// *::-webkit-scrollbar-button {
//     display: none;
// }

// 타블렛브레이크 포인트
@media screen and (max-width:768px) {

}
// 모바일브레이크 포인트
@media screen and (max-width:1280px) {
	
}

@mixin lineClamp($line) {
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: $line;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

@mixin infoToolTip() {
	.infoToolTip {
		position: relative;
		width: 12px;
		height: 12px;
		&:hover .infoMsg {
			display: -webkit-box;
		}
		&.inline {
			display: inline-block;
			.infoMark {
				margin-top: 2px;
				margin-left: 5px;
			}
		}
	}
	.infoMark {
		flex: 0 0 auto;
		width: 12px;
		height: 12px;
		background: url(../img/ic_infoMark.svg) center no-repeat;
	}
	.infoBx {
		position: absolute;
		top: 20px;
		left: -9px;
		z-index: 1;
		.infoMsg {
			@include lineClamp(10);
			display: none;
			width: max-content;
			max-width: 320px;
			padding: 8px 16px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: var(--num-4, 4px);
			background: var(--greyScale-grey7, #30343A);
			color: var(--greyScale-white, #FFF);
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 16.8px */
			&::before {
				content: '';
				position: absolute;
				top: -3px;
				left: 10px;
				width: 12px;
				height: 12px;
				background: var(--greyScale-grey7, #30343A);
				display: block;
				border-radius: 2px;
				transform: rotate(45deg);
			}
		}
	}
}
@include infoToolTip;

@mixin moreBtn() {
	.moreBtn {
		text-indent: -9999px;
		width: 24px;
		height: 24px;
		background: transparent url(../img/ic_grid_more.svg) center no-repeat;
		border: 0;
		border-radius: 50%;
	}
}

@mixin teamCard() {
	.teamCardWrap {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
	.teamCard {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc((100% - 32px) / 3);
		padding: 14px 20px;
		gap: 10px;
		box-sizing: border-box;
		border-radius: 8px;
		background: var(--bgNormal, #F5F5F7);
		position: relative;
		h4 {
			color: var(--greyScale-grey7, #30343A);
			text-align: center;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: 18px; /* 138.462% */
			letter-spacing: -0.26px;
		}
		.profileWrap {
			padding-left: 34px;
			position: relative;
		}
		.profile {
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			border: 1px solid var(--greyScale-grey2, #CFD4D9);
			background-color: var(--greyScale-white, #fff);
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;	
				background-color: var(--greyScale-grey1, #DEE3E9);
			}
		}
		.tel {
			position: absolute;
			top: 12px;
			right: 12px;
			display: block;
			width: 32px;
			height: 32px;
			background: url(../img/ic_tel_blue.svg) center no-repeat;
			text-indent: -9999px;
		}
		.name {
			color: var(--greyScale-grey8, #23262A);
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.32px;
			margin-bottom: 4px;
		}
		.desc {
			color: var(--greyScale-grey4, #8B909D);
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
	@content;
}

@mixin pagination() {
	.pagination {
		justify-content: center;
		gap: 8px;
		padding: 10px 20px;
		overflow: hidden;
		@content;
	}
	.page-link {
		box-shadow: none;
		border: 0;
		background-color: transparent;
		color: var(--greyScale-grey4, #8B909D);
		text-align: center;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.14px;
		border-radius: var(--num-4, 4px);
	}
	.page-item {
		.page-link {
			&:hover {
				background-color: var(--bgNormal);
				text-decoration: none;
				color: inherit;
			}
		}
		&.active .page-link {
			background: var(--blueTone-primary, #1F79FF);
			color: #fff;
		}
		&:first-child .page-link {
			text-indent: -9999px;
			background: url(../img/ic_pagination_arr.svg) center no-repeat;
		}
		&:last-child .page-link {
			transform: rotate(180deg);
			text-indent: -9999px;
			background: url(../img/ic_pagination_arr.svg) center no-repeat;
		}
	}
}
@include pagination();

@mixin btn() {
	width: 100%;
	height: 56px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	font-size: 16px;
	font-weight: bold;
	padding: 12px;
	transition: 0.2s;
	&:hover {
		opacity: 0.8;
	}
	@content;
}

@mixin tray {
	border-radius: var(--Border-8, 8px);
	border: 1px solid var(--outline, #E7E5ED);
	background: var(--bgWhite, #FFF);
	padding: 8px;
	/* boxshadow */
	box-shadow: 0px 4px 32px 0px rgba(171,163,194,0.2);
	@content;
}

@mixin dropDown() {
	.dropdown-menu {
		border-radius: 4px;
		background: #fff;
		// background: var(--bgNormal);
		padding: 0 !important;
		border: 0;
		box-shadow: 0 0 0 1px var(--outline);
		.dropdown-item {
			text-decoration: none;
			color: #A2A7B3;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 19.5px */
			letter-spacing: -0.26px;
			padding: 8px 20px;
			&:active {
				background-color: inherit;
			}
			&:hover {
				// background: var(--bgNormal, #F5F5F7);
				background: #F6F7F9;
			}
		}
		li + li::before {
			content: '';
			display: block;
			width: calc(100% - 40px);
			margin-left: 16px;
			border-top: 1px solid var(--outline, #E7E5ED);
		}
		.red {
			color: var(--status-red, #E63939);
		}
		@content;
	}
}

.inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.inner-full {
	@extend .inner;
	max-width: none;
}

h2 {
	display: block;
	color: #222;
	font-family: Pretendard;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 48px */
	letter-spacing: -0.64px;
	margin-bottom: 52px;
	@media screen and (max-width:768px) {
		h2 {
			font-size: 24px;
		}
	}
}

.sectionTit {
	.round {
		display: inline-block;
		color: var(--primary, #1F79FF);
		text-align: center;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 21px */
		letter-spacing: -0.28px;
		border-radius: 40px;
		border: 1px solid var(--primary, #1F79FF);
		padding: 5px 10px;
		margin-bottom: 12px;
	}
	h2 {
		margin-bottom: 19px;
	}
	@media screen and (max-width:768px) {
		h2 {
			font-size: 24px;
		}
	}
	
}


.gnb {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 48px;
	height: 80px;
	background: rgba(255, 255, 255, 0.80);
	backdrop-filter: blur(10px);

	ul {
		display: flex;
		align-items: center;
		a {
			color: #ADB4BC;
			text-align: center;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
			padding: 10px 0;
		}
	}
	.menu {
		gap: 36px;
		.ac {
			color: #222222;
		}
	}
	.right {
		gap: 16px;
		.login {
			color: #222222;
		}
		.signup {
			background-color: var(--primary);
			color: #fff;
			padding: 10px 16px;
			border-radius: 100px;
			height: 44px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 0;
		}
	}

	.hambur {
		display: none;
	}

	@media screen and (min-width:1201px) {
		.mobileMenu {
			display: none !important;
		}
	}
	@media screen and (max-width:1200px) {
		padding: 0 24px;
		.pannel {
			position: absolute;
			top: 0;
			right: 0;
			background-color: #fff;
			width: 80vw;
			height: 100%;
			max-width: 400px;
		}
		.hambur {
			display: block;
		}
		.menu,.right {
			display: none;
		}
		.mobileMenu {
			position: fixed;
			right: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			background-color: rgba(0,0,0,0.5);
		}
		.mobileMenu .menu,
		.mobileMenu .right {
			display: flex;
		}
		.mobileMenu {
			display: none;
			&.ac {
				display: block;
			}
			.bamburClose {
				position: absolute;
				top: 22px;
				right: 24px;
			}
			.menu {
				position: absolute;
				top: 80px;
				left: 35px;
				flex-direction: column;
				align-items: flex-start;
			}
			.right {
				position: absolute;
				right: 28px;
				bottom: 20px;
			}
		}
	}
}

.section--visual {
	height: 735px;
	max-height: 100vw;
	min-height: 700px;
	width: 100%;
	background: #091D24;
	// display: flex;
	// align-items: flex-end;
	.inner {
		position: relative;
		transform: translateY(80px);
		z-index: 1;
		height: 100%;
		// overflow: hidden;
		// display: flex;
		// align-items: flex-end;
	}
	.charactor {
		width: 228px;
		aspect-ratio: 1/1;
		object-fit: contain;
		position: absolute;
		top: 34%;
		left: -40px;
		z-index: -1;
	}
	.imgWrap {
		overflow: hidden;
	}
	.visual {
		width: 100%;
		max-width: 996px;
		margin: 0 auto;
		display: block;
	} 
	.pannel {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #fff;
		display: flex;
		// max-width: 1200px;
		// margin: 0 auto;
		.nav-item {
			flex: 1 0 0;
			list-style: none;
		}
		.item {
			padding: 40px 40px 34px;
			box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
			.tit {
				color: #222;
				font-family: Pretendard;
				font-size: 21px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 31.5px */
				letter-spacing: -0.42px;
				margin-bottom: 5px;
			}
			.desc {
				color: rgba(34, 34, 34, 0.40);
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 24px */
				letter-spacing: -0.32px;	
				margin-bottom: 20px;
			}
			.linkArr {
				color: #222;
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 24px */
				letter-spacing: -0.32px;
				display: inline-flex;
				padding: var(--Border-8, 8px) 14px var(--Border-8, 8px) 18px;
				align-items: center;
				gap: var(--num-4, 4px);
				border-radius: 40px;
				background: var(--gridHover, #F6F7F9);
			}

			&.active {
				background: linear-gradient(180deg, #1F79FF 0%, #1E42FE 100%);
				box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
				.tit {
					color: #FFF;
				}
				.desc {
					color: rgba(255, 255, 255, 0.70);
				}
				.linkArr {
					background: rgba(255, 255, 255, 0.10);
					color: #fff;
					path {
						stroke: #fff;
					}
				}
			}
		}
	}
	@media screen and (max-width:769px) {
		height: 112vw;
		min-height: fit-content;
		min-height: 600px;
		max-height: fit-content;
		.visual {
			// width: 80%;
			margin-left: 6%;
		}
		.charactor {
			width: 20%;
			top: 23%;
			left: -15px;
		}
		.pannel {
			flex-direction: column;
			.item {
				padding: 20px 20px 24px;
				.tit {
					font-size: 16px;
				}
				.desc {
					font-size: 14px;
				}
			}
		}
	}
}

.section--intro {
	margin-top: 220px;
	margin-bottom: 66px;
	.inner-full {
		padding: 0 80px;
	}
	.flexWrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 40px;
	}
	.textWrap {
		flex: 1 0 0;
		// padding-left: 50px;
		
		.logo {
			margin-bottom: 63px;
			img {
				height: 76px;
				@media screen and (max-width:768px) {
					height: 62px;
				}
			}
		}
		span {
			color: #969EA9;
			font-family: Pretendard;
			font-size: 21px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 31.5px */
			letter-spacing: -0.42px;
			display: block;
			margin-bottom: 28px;
		}
		.bold {
			color: #565B62;
			font-family: Pretendard;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 48px */
			letter-spacing: -0.64px;
		}
		.bold + .bold {
			margin-top: 36px;
		}
		@media screen and (max-width:768px) {
			span {
				font-size: 18px;
				margin-bottom: 12px;
			}
			.bold {
				font-size: 21px;
			}
		}
	}
	.imgBg {
		flex: 1 0 200px;
		height: 530px;
		// img {
		// 	width: 50vw;
		// 	max-width: 1000px;
		// }
		background: url(../img/bg_intro_model.jpg) center/cover no-repeat;
	}
	@media screen and (max-width:1200px) {
		.inner-full {
			padding: 0;
		}
		.flexWrap {
			display: block;
		}
		.textWrap {
			padding: 0 24px;
			margin-bottom: 40px;
		}
	}
	@media screen and (max-width:769px) {
		margin-top: 170px;
		margin-bottom: 0;
		.imgBg {
			height: 60vw;
		}
	}
}

.section--partner {
	background: #F4F4F5;
	padding: 135px 0 120px;
	.inner {
		text-align: center;
		padding: 0 20px;
	}

	.partner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 15px;
		margin: 0 auto;
		margin-bottom: 150px;
		width: 80%;
		.item {
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 188px;
			min-width: 130px;
			// height: 115px;
			aspect-ratio: 188/115;
			border-radius: 20px;
			img {
				width: 80%;
			}
		}
		
	}

	.team {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
		.item {
			.profile {
				max-width: 218px;
				min-width: 130px;
				width: 20vw;
				aspect-ratio: 1/1;
				border-radius: 50%;
				overflow: hidden;
				margin-bottom: 13%;
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.group {
				color: #1F79FF;
				text-align: center;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 21px */
				letter-spacing: -0.28px;
			}
			.name {
				color: #222;
				text-align: center;
				font-family: Pretendard;
				font-size: 21px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 31.5px */
				letter-spacing: -0.42px;
			}
		}
	}

	

	@media screen and (max-width:1200px) {
		.partner {
			width: 100%;
			.item {
				width: 20%;
			}
		}
	}
}

.section--price {
	padding-top: 142px;
	padding-bottom: 135px;
	text-align: center;

	@media screen and (max-width:768px) {
		padding: 120px 0;
	}
	.inner {
		max-width: 1240px;
		padding: 0 20px;
	}
	.desc {
		color: #B5BAC1;
		text-align: center;
		font-family: Pretendard;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 27px */
		letter-spacing: -0.36px;
	}

	.summary {
		display: flex;
		gap: 30px;
		border-radius: 14px;
		border: 1px solid #CED1D6;
		text-align: left;
		padding: 30px;
		margin-top: 40px;
		.left {
			flex: 0 0 240px;
		}
		h3 {
			color: #222;
			font-family: Pretendard;
			font-size: 21px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 27px */
			letter-spacing: -0.36px;
		}
		p {
			color: #8292A9;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 18px */
			letter-spacing: -0.24px;
		}
		ul {
			
		}
		.list {
			display: block;
			color: #222;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
		}
		.list + .list {
			margin-top: 4px;
		}
	}

	.priceSample {
		width: 100%;
		margin-bottom: 40px;
	}

	.blackBtn {
		display: inline-flex;
		min-width: 196px;
		width: auto;
		height: 68px;
		padding: 10px;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex-shrink: 0;
		border-radius: 100px;
		background: #222;
		color: #FFF;
		text-align: center;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 24px */
		letter-spacing: -0.32px;
	}

	@media screen and (max-width:768px) {
		.summary {
			padding: 20px;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 10px;
			.left {
				flex-basis: auto;
			}
			.list {
				font-size: 14px;
			}
		}
	}
}


.section--service {
	text-align: center;
	margin-bottom: 150px;
	margin-bottom: 200px;
	.sectionTit {
		padding: 0 20px;
	}
	.tabWrap {
		margin-top: 60px;
		gap: 46px;
		.tab-content {
			flex: 1 0 0;
			img {
				width: 100%;
			}
			.tab-pane {
				position: relative;
				.mesg {
					text-align: left;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					min-height: 123px;
					padding: 20px 30px;
					background: rgba(34, 34, 34, 0.80);
					backdrop-filter: blur(4px);
					.tit {
						color: #FFF;
						font-family: Inter;
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 27px */
						letter-spacing: -0.36px;
						margin-bottom: 4px;
					}
					.desc {
						color: #B5BAC1;
						font-family: Pretendard;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%; /* 24px */
						letter-spacing: -0.32px;
					}
				}
			}
		}
	}
	.nav-link {
		width: 152px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 50px;
		padding: 12px 16px;
		gap: 8px;
		box-sizing: border-box;
		color: var(--greyScale-grey5, #686E7A);
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 13px */
		letter-spacing: -0.39px;
		text-align: left;
		&.active {
			background-color: transparent;
			color: var(--greyScale-grey6, #434850);
			.pageName {
				border-bottom-color: #1F79FF;
			}

			&:nth-child(1) i {background: url(../img/ic_dashboard_ac.svg);}
			&:nth-child(2) i {background: url(../img/ic_schedule_ac.svg);}
			&:nth-child(3) i {background: url(../img/ic_community_ac.svg);}
			&:nth-child(4) i {background: url(../img/ic_construction_ac.svg);}
			&:nth-child(5) i {background: url(../img/ic_invoice_ac.svg);}
			&:nth-child(6) i {background: url(../img/ic_payment_ac.svg);}
			&:nth-child(7) i {background: url(../img/ic_employee_ac.svg);}
			&:nth-child(8) i {background: url(../img/ic_customer_ac.svg);}
			&:nth-child(9) i {background: url(../img/ic_pricing_ac.svg);}
			&:nth-child(10) i {background: url(../img/ic_documents_ac.svg);}
			&:nth-child(11) i {background: url(../img/ic_setting_ac.svg);}
			&:nth-child(12) i {background: url(../img/ic_info_ac.svg);}
		}
		i {
			width: 20px;
			height: 20px;
		}
		.pageName {
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
		}
		&:nth-child(1) i {background: url(../img/ic_dashboard_df.svg);}
		&:nth-child(2) i {background: url(../img/ic_schedule_df.svg);}
		&:nth-child(3) i {background: url(../img/ic_community_df.svg);}
		&:nth-child(4) i {background: url(../img/ic_construction_df.svg);}
		&:nth-child(5) i {background: url(../img/ic_invoice_df.svg);}
		&:nth-child(6) i {background: url(../img/ic_payment_df.svg);}
		&:nth-child(7) i {background: url(../img/ic_employee_df.svg);}
		&:nth-child(8) i {background: url(../img/ic_customer_df.svg);}
		&:nth-child(9) i {background: url(../img/ic_pricing_df.svg);}
		&:nth-child(10) i {background: url(../img/ic_documents_df.svg);}
		&:nth-child(11) i {background: url(../img/ic_setting_df.svg);}
		&:nth-child(12) i {background: url(../img/ic_info_df.svg);}
	}

	@media screen and (max-width:1200px) {
		.tabWrap {
			flex-direction: column;
		}
		.nav {
			flex-direction: row !important;
			justify-content: center;
		}
	}
	@media screen and (max-width:768px) {
		.tabWrap {
			gap: 20px;
			.tab-content .tab-pane .mesg {
				// position: static;
				padding: 20px;
				// min-height: fit-content;
				bottom: unset;
				top: 90%;
				margin: 0 8px;
				border-radius: 8px;
				width: calc(100% - 16px);
				.tit {
					font-size: 16px;
				}
				.desc {
					font-size: 14px;
				}
			}
		}
		.nav {
			flex-wrap: nowrap;
			justify-content: flex-start;
			overflow: auto;
			width: 100%;
			.nav-link {
				flex: 0 0 auto;
				width: auto;
			}
		}
		
	}
}


.section--flow {
	text-align: center;
	min-height: 775px;
	background: url(../img/bg_service_flow.jpg) center/cover no-repeat;
	margin-bottom: 267px;
	.inner {
		transform: translateY(100px);
	}
	.round {
		border-color: #FFF72C;
		color: #FFF72C;
	}
	h2 {
		color: #fff;
		margin-bottom: 70px;
	}

	.nav {
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
		row-gap: 10px;
	}
	.nav-link {
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.20);
		backdrop-filter: blur(12px);
		aspect-ratio: 1/1;
		width: 152px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		&.active {
			background: #2074FF;
		}
		.step {
			color: rgba(255, 255, 255, 0.50);
			text-align: center;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
			flex: 0 0 0;
			text-transform:uppercase;
		}
		.tit {
			flex: 0 0 48px;
			color: #FFF;
			text-align: center;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
			display: flex;
			align-items: center;
			justify-content: center;
			word-break: keep-all;
		}
	}
	.tab-content {
		width: 100%;
		height: 420px;
		display: flex;
		background: #FFF;
		box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
		position: relative;

		&::after {
			content: "";
			width: 115px;
			aspect-ratio: 1 / 1;
			background: url(../img/img_charactor_2.png) center / contain no-repeat;
			position: absolute;
			top: -69px;
			// left: -77px;
			left: 58%;
		}
		
		.tab-pane {
			width: 100%;
			overflow: hidden;
		}
		.conWrap {
			display: flex;
			height: 100%;
		}
		.imgWrap {
			flex: 2 0 0;
			position: relative;
			overflow: hidden;
			img {
				width: 800px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}	
		.textWrap {
			position: relative;
			flex: 1 0 0;
			// padding: 40px;
			background: #FFF;
			box-shadow: 0px 0px 54px 0px rgba(221, 221, 221, 0.50);
			display: flex;
			align-items: center;
			text-align: left;
			
			.step {
				position: absolute;
				top: 40px;
				left: 40px;
				color: #2074FF;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 21px */
				letter-spacing: -0.28px;
			}
			.desc {
				padding: 40px;
				color: #2F343A;
				font-family: Pretendard;
				font-size: 19px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 28.5px */
				letter-spacing: -0.38px;
				.grey {
					color: #B4C2D2;
				}
			}
		}
	}
	@media screen and (max-width:1200px) {
		.nav {
			padding: 0 20px;
		}
	}
	@media screen and (max-width:768px) {
		padding-top: 80px;
		min-height: max-content;
		height: auto;
		margin-bottom: 160px;
		.inner {
			transform: none;
		}
		.sectionTit {
			padding: 0 20px;
		}
		.nav {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;
			overflow: auto;
			gap: 20px;
			margin-bottom: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: rgba(255,255,255,0.12);
			svg {
				// display: none;
				// width: 32px;
				flex: 0 0 auto;
				opacity: 0.8;
			}
		}
		.nav-link {
			width: auto;
			background-color: transparent !important;
			backdrop-filter: none;
			aspect-ratio: unset;
			border-radius: 0;
			gap: 0;
			border-bottom: 4px solid transparent;	
			align-items: flex-start;
			padding: 0;
			&.active {
				// border-bottom: 4px solid #1F79FF;	
				.tit {
					color: rgba(255,255,255,1);
				}
				.step {
					// color : #1F79FF;
					color: rgba(255,255,255,1);
				}
			}
			.step {
				// color : #1F79FF;
				// display: none;
				font-size: 13px;
				font-weight: 500;
			}
			.tit {
				text-align: left;
				white-space: nowrap;
				color: rgba(255,255,255,0.3);
			}
		}
		.tab-content {
			height: auto;
			position: relative;
			.conWrap {
				display: block;
				// flex-direction: column;
			}
			.imgWrap {
				display: block;
				img {
					position: static;
					display: block;
					width: 100%;
				}
			}
			
			.textWrap {
				// flex: 0 0 200px;
				padding: 20px;
				min-height: 150px;
				flex-direction: column;
				gap: 10px;
				align-items: flex-start;
				.step {
					position: static;
				}
				.desc {
					font-size: 16px;
					font-weight: 600;
					padding: 0;
				}
			}

			&::after {
				width: 115px;
				top: unset;
				left: unset;
				right: 0;
				bottom: -70px;
			}
		} 
	}
}

.section--interview {
	text-align: center;
	margin-bottom: 240px;
	.inner {
		max-width: 960px;
		padding: 0 20px;
	}
	.interview {
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		gap: 6%;
		.item {
			flex: 1 0 45%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 80px;
			.top {
				color: var(--Labels-Primary, #000);
				font-family: Pretendard;
				font-size: 26px;
				font-style: normal;
				font-weight: 700;
				line-height: 100%; /* 26px */
			}
			.mesg {
				color: var(--Labels-Primary, #000);
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 24px */
			}
			.name {
				color: #999;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 21px */
			}

			&:nth-child(1) {
				// margin-top: 0;
			}
			&:nth-child(2n) {
				transform: translateY(60px);
			}
		}
	}
	@media screen and (max-width:768px) {
		.interview {
			margin-top: 0;
		}
	}
}

.module--cta {
	height: 310px;
	background: rgba(0,0,0,0.2) url(../img/bg_cta.jpg) center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		color: #FFF;
		text-align: center;
		text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
		font-family: Pretendard;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 36px */
		letter-spacing: -0.48px;
	}
	.linkWrap {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-top: 30px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: 64px;
			border-radius: 40px;
			padding: 0 20px;
			background-color: #fff;
			color: #222;
			text-align: center;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
		}
	}
}

footer {
	padding: 80px 20px;
	background-color: #fff;
	.inner {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	.info {
		max-width: 600px;
		.menu {
			margin-bottom: 68px;
			a {
				color: #9D9FA2;
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 24px */
				letter-spacing: -0.32px;
			}
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.bottom {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		.etc {
			display: flex;
			gap: 10px;
			align-items: center;
			.divider {
				width: 1px;
				height: 10px;
				background: #D9D9D9;
			}
			a {
				color: #9D9FA2;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 21px */
				letter-spacing: -0.28px;
			}
		}

		address {
			color: #9D9FA2;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 18px */
			letter-spacing: -0.24px;
		}

		.copyright {
			color: #9D9FA2;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 18px */
			letter-spacing: -0.24px;
		}
	}
	@media screen and (max-width:768px) {
		padding-top: 40px;
		padding-bottom: 40px;
		.inner {
			flex-wrap: wrap;
		}
		.info {
			max-width: fit-content;
			.menu {
				margin-bottom: 40px;
				a {
					font-size: 14px;
				}
			}
		}
	}
}


.section--subVisual {
	height: 370px;
	width: 100%;
	background: url(../img/bg_sub_construct.jpg) center/cover no-repeat;
	padding-top: 184px;
	.inner {
		max-width: 1240px;
		padding: 0 20px;
	}
	.sub {
		color: #1F79FF;
		font-family: Pretendard;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 27px */
		letter-spacing: -0.36px;
		margin-bottom: 5px;
	}
	h2 {
		color: #FFF;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
		font-family: Pretendard;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 48px */
		letter-spacing: -0.64px;
	}
}

.dropdown {
	.dropdown-toggle {
		min-width: 80px;
		text-align: left;
		height: 36px;
		color: var(--greyScale-grey6, #434850);
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 21px */
		letter-spacing: -0.28px;
		border: 0;
		background-color: transparent;
		position: relative;
		padding-left: 0;
		padding-right: 30px;
		@include lineClamp(1)
	}
	.dropdown-toggle::after {
		position: absolute;
		top: 50%;
		right: 3px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		background: url(../img/ic_dropdown_arr.svg) center no-repeat;
		border: 0;
		margin: 0;
	}
	.dropdown-menu {
		.dropdown-item {

		}
	}
	.dropdown-item:hover {
		text-decoration: none;
	}
	.dropdown-item.active, .dropdown-item:active {
		color: var(--bs-dropdown-link-active-color);
		background: var(--blueTone-primary, #1F79FF);
		text-decoration: none;
	}
}

.searchModule {
	@include tray() {
		padding: 20px;
	};
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 100px;
	margin: 20px 0;
	.item {
		flex: 0 0 auto;
		padding-right: 24px;
		margin-right: 25px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			display: block;
			width: 1px;
			height: 49px;
			background: var(--outline, var(--outline, #E7E5ED));
		}
		&:last-of-type {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
		&.widthVariable {
			flex: 1 0 auto;
		}
		
		.label {
			color: var(--greyScale-grey5, #686E7A);
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 18px */
			letter-spacing: -0.24px;
			margin-bottom: 6px;
		}
		.calendar {
			color: var(--greyScale-grey6, #434850);
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 21px */
			letter-spacing: -0.28px;
			border: 0;
			height: 36px;
			padding: 0;
			padding-right: 30px;
			background: url(../img/ic_search_cal.svg) right center no-repeat;
		}
	}
	.input {
		height: 34px;
		border: 0;
		padding: 0;
		&::placeholder {
			color: var(--greyScale-grey3, #BDC1CC);
		}
		background-color: transparent;
		color: var(--greyScale-grey6, #434850);
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 21px */
		letter-spacing: -0.28px;
	}

	.btn-border {
		@include btn {
			background-color: transparent;
			color: var(--blueTone-primary, #1F79FF);
			border: 1px solid var(--blueTone-primary, #1F79FF);
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
		}
	}

	.btn-border {
		width: 78px;
		height: 52px;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}

	@include dropDown() {
		min-width: 92px;
		width: auto;
		box-shadow: 0px 4px 32px 0px rgba(171,163,194,0.2);
		padding: 4px 0;
		.dropdown-item {
			color: var(--greyScale-grey6, #434850);
			font-weight: 600;
			padding: 4px 16px;
		}
		li + li::before {
			display: none;
		}
	}

	@media screen and (max-width:425px) {
		padding-right: 20px;
		padding-bottom: 76px;
		.item {
			margin-right: 0;
		}
		.btn-border {
			bottom: 0;
			width: calc(100% - 40px);
			top: unset;
			height: 38px;
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	$gap: 26px;
	gap: $gap;
	margin-top: 40px;
	margin-bottom: 40px;
	.item {
		width: calc((100% - $gap * 3) / 4);
		border-radius: 20px;
		border: 1px solid var(--outline, #E7E5ED);
		background: var(--bgNormal, #F5F5F7);
		box-shadow: 0px 4px 32px 0px var(--boxShadow, rgba(171, 163, 194, 0.20));
		overflow: hidden;
		transition: 0.5s ease-out;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 4px 32px 0px rgba(26, 64, 121, 0.30);
			img {
				transform: scale(1.07);
			}
		}
		.imgWrap {
			width: 100%;
			aspect-ratio: 280 / 180;
			display: block;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				transition: 0.5s ease-out;
			}
		}
		.info {
			padding: 16px 24px;
			.tit {
				color: var(--greyScale-grey8, #23262A);
				font-family: Pretendard;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 27px */
				letter-spacing: -0.36px;	
				margin-bottom: 4px;			
			}
			.cate {
				display: flex;
				flex-wrap: nowrap;
				width: 100%;
				gap: 8px;
				margin-bottom: 12px;
				.span {
					display: flex;
					flex: 0 0 auto;
					padding: 2px 4px 0;
					height: 24px;
					border-radius: 2px;
					border: 1px solid var(--blueTone-primary, #1F79FF);
					color: var(--blueTone-primary, #1F79FF);
					text-align: center;
					font-family: Pretendard;
					font-size: 13px;
					font-style: normal;
					font-weight: 600;
					line-height: 18px; /* 138.462% */
					letter-spacing: -0.26px;
				}
			}
			.between {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.key {
				color: var(--greyScale-grey6, #434850);
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 21px */
				letter-spacing: -0.28px;
			}
			.value {
				color: var(--greyScale-grey4, #8B909D);
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 22px; /* 157.143% */
				&.blue {
					color: var(--blueTone-primary, #1F79FF);
				}
			}
		}
	}

	@media screen and (max-width:768px) {
		$gap:14px;
		gap: $gap;
		.item {
			transition: none;
			width: calc((100% - $gap) / 2);
		}	
	}
	@media screen and (max-width:425px) {
		.item {
			transition: none;
			width: 100%;
		}	
	}
}

.section--construct-list {
	margin-top: -50px;
	margin-bottom: 80px;
	.inner {
		padding: 0 20px;
		max-width: 1240px;
	}
}

.thumbCover {
	width: 100%;
	display: flex;
	$gap : 8px;
	gap: $gap;
	aspect-ratio: 1200 / 380;
	// aspect-ratio: 16 / 4.5;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	margin-bottom: 63px;
	// margin: 0 40px;
	img {
		object-fit: cover;
	}
	.before {
		flex: 1 0 0;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.after {
		flex: 1 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: $gap;
		img {
			width: calc((100% - $gap) / 2);
			height: calc((100% - $gap) / 2);
		}
	}
	.text {
		position: absolute;
		bottom: 30px;
		opacity: 0.7;
		background: var(--greyScale-grey8, #23262A);
		color: var(--greyScale-white, #FFF);
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 21px */
		letter-spacing: -0.28px;
		padding: 7px 12px;
		&.left {
			left: 30px;
		}
		&.right {
			right: 30px;
		}
	}
	@media screen and (max-width:768px) {
		// flex-direction: column;
		aspect-ratio:unset;
		.after {
			display: none;
		}
		.text.right {
			display: none;
		}
	}
}

.community {
	margin-bottom: 100px;
	padding-top: 157px;
	.inner {
		display: flex;
		gap: 40px;
		padding: 0 20px;
		max-width: 1240px;
		.bodyCon {
			flex: 1 0 0;
		}
		&.sticky {
			display: block;
			position: relative;
			min-height: 1px;
			.bodyCon {
				padding-right: 360px;
			}
			.absol {
				position: absolute;
				top: 0;
				right: 20px;
				height: 100%;
			}
			.sideCon {
				position: sticky;
				top: 90px;
			}
		}
	}
	.inner-full {
		flex-direction: column;
		max-width: 1800px;
		padding: 0 60px;
	}
	.pageIntro {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6px;
		h2 {
			color: var(--greyScale-grey8, #23262A);
			font-family: Pretendard;
			font-size: 36px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 54px */
			letter-spacing: -0.72px;
			margin: 0;
		}
		.back {
			color: #222;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%; /* 20.8px */
			letter-spacing: -0.32px;
			border-radius: 40px;
			border: 1px solid #222;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			gap: 10px;
		}	
	}
	.pageDate {
		color: var(--greyScale-grey4, #8B909D);
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%; /* 20.8px */
		letter-spacing: -0.32px;
	}
	@media screen and (max-width:1200px) {
		.inner-full {
			padding: 0 20px;
		}
	}
	@media screen and (max-width:768px) {
		padding-top: 120px;
		.pageIntro {
			flex-direction: column-reverse;
			gap: 8px;
			align-items: flex-start;
			h2 {
				font-size: 24px;
			}
			.back {
				font-size: 14px;
				padding: 10px 16px;
				display: flex;
				align-items: center;
				gap: 8px;
			}	
		}
		.inner.sticky {
			.bodyCon {
				padding-right: 0;
			}
			.absol {
				position: static;
			}
		}
	}
}
.sideCon {
	flex: 0 0 auto;
	width: 200px;
	@include teamCard() {
		.teamCardWrap {
			flex-direction: column
		}
		.teamCard {
			width: 100%
		}
	};
	.sideConTit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		h4 {
			color: var(--greyScale-grey8, #23262A);
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 27px */
			letter-spacing: -0.36px;
		}
		button {
			height: 27px;
		}
	}
	hr {
		width: 100%;
		height: 1px;
		border: 0;
		background: var(--greyScale-grey2, #CFD4D9);
		margin: 20px 0;
	}


	.priceList {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--greyScale-grey2, #CFD4D9);
		margin-bottom: 10px;
		.price {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.key {
				color: var(--greyScale-grey4, #8B909D);
				font-family: Pretendard;
				font-size: 13px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.26px;
			}
			.value {
				color: var(--blueTone-blue6, #70A8F7);
				font-family: Pretendard;
				font-size: 13px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.26px;
			}
		}
	}
	.total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		.key {
			color: var(--greyScale-grey8, #23262A);
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 27px */
			letter-spacing: -0.36px;
		}
		.value {
			color: var(--greyScale-black, #181B20);
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.36px;
		}
	}
	.link {
		color: var(--blueTone-primary, #1F79FF);
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.26px;
		position: relative;
		padding-right: 16px;
		background: url(../img/ic_link_arr.svg) right center no-repeat;
	}
	@media screen and (max-width:768px) {
		max-width: 425px;
		width: 100% !important;
		margin: 0 auto;
		margin-top: 80px;
	}
}

.constructInfo {
	@include tray() {
		display: flex;
		padding: 30px;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		align-self: stretch;
		margin: 24px 0;
	}
	h4 {
		color: var(--greyScale-grey8, #23262A);
		font-family: Pretendard;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 27px */
		letter-spacing: -0.36px;
	}
	.infoSection {
		display: flex;
		gap: 20px;
		width: 100%;
		padding-top: 20px;
		border-top: 1px solid var(--greyScale-grey2, #CFD4D9);
	}
	.th {
		color: var(--greyScale-grey5, #686E7A);
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 24px */
		letter-spacing: -0.32px;
		display: flex;
		align-items: center;
		align-self: flex-start;
		gap: 20px;
		max-width: 280px;
		width: auto;
		flex: 2 0 0;
		button {
			height: 28px;
		}
	}
	.td {
		flex: 5 0 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		.cate {
			display: flex;
			gap: 10px;
			flex: 0 0 auto;
		}
		.checkList {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			color: var(--greyScale-grey5, #686E7A);
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 19.5px */
			letter-spacing: -0.26px;
		}
		p {
			color: var(--greyScale-grey4, #8B909D);
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 21px */
			letter-spacing: -0.28px;
		}
		span {
			display: flex;
			padding: 7px 20px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: var(--num-4, 4px);
			background: var(--bgNormal, #F5F5F7);
		}
	}
	.profileWrap {
		display: flex;
		align-items: center;
		gap: 10px;
		.profile {
			width: 28px;
			height: 28px;
			overflow: hidden;
			border-radius: 50%;
			border: 1px solid var(--greyScale-grey2, #CFD4D9);
			background: var(--greyScale-grey1, #DEE3E9) url(../img/ic_profile_df.svg) center no-repeat;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.rowsList {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding-right: 20px;
		gap: 10px;
		.name {
			display: flex;
			width: 120px;
			padding: 7px 20px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: var(--num-4, 4px);
			background: var(--bgNormal, #F5F5F7);
			color: var(--greyScale-grey5, #686E7A);
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 19.5px */
			letter-spacing: -0.26px;
		}
		.more {
			justify-self: flex-end;
			text-indent: -9999px;
			width: 20px;
			aspect-ratio: 1/1;
			background: url(../img/ic_grid_more.svg) center no-repeat;
			cursor: pointer;
		}
		.price {
			color: var(--greyScale-grey6, #434850);
			text-align: right;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
			flex: 0 0 140px;
		}
		.date {
			flex: 1 0 0;
			color: var(--greyScale-grey4, #8B909D);
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 21px */
			letter-spacing: -0.28px;
		}
	}
	@media screen and (max-width:425px) {
		padding: 20px;
		.infoSection {
			flex-direction: column;
		}
	}
}

.chargeDetail {

	.dualTray {
		display: flex;
		gap: 20px;
	}

	.leftTray {
		flex: 1 0 720px;
		align-self: flex-start;
	}
	.rightTray {
		flex: 1 0 470px;
		align-self: flex-start;
	}

	.resultCost {
		$sidePadding : 30px;
		margin-top: 10px;
		margin-bottom: - $sidePadding;
		margin-left: - $sidePadding;
		margin-right: - $sidePadding;
		width: calc(100% + $sidePadding + $sidePadding);
		display: flex;
		padding: 20px 30px;
		flex-direction: column;
		align-items: flex-end;
		gap: 8px;
		border-top: 1px solid var(--outline, var(--outline, #E7E5ED));
		background: var(--greyScale-grey7, #30343A);
		// background: var(--greyScale-grey8);
		color: var(--greyScale-white, #FFF);
		text-align: right;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 16px */
		letter-spacing: -0.32px;
		.sub {
			color: var(--blueTone-blue3, #B6D3F9);
			text-align: right;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 100%; /* 16px */
			letter-spacing: -0.32px;
		}
		.flexWrap {
			display: flex;
			justify-content: space-between;
			width: 100%;
			color: var(--greyScale-white, #FFF);
			text-align: center;
			font-family: Pretendard;
			font-size: 21px;
			font-style: normal;
			font-weight: 600;
			line-height: 100%; /* 21px */
			letter-spacing: -0.42px;
		}
	}

	.eachCostWrap {
		width: 100%;
	}
	.eachCost {
		// width: 100%;
		display: flex;
		padding: 16px 20px;
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;
		align-self: stretch;
		border-radius: 12px;
		background: var(--bgNormal, #F5F5F7);
		.flexWrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			align-self: stretch;
		}
		.key {
			color: var(--greyScale-grey5, #686E7A);
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 130%; /* 20.8px */
			letter-spacing: -0.32px;
		}
		.value {
			color: var(--greyScale-grey4, #8B909D);
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 130%; /* 18.2px */
			letter-spacing: -0.28px;
		}
		.cost {
			color: var(--blueTone-primary, #1F79FF);
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.36px;
		}
		& + .eachCost {
			margin-top: 10px;
		}	
	}

	.tray {
		@include tray() {
			display: flex;
			padding: 30px;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			// align-self: stretch;
			overflow: hidden;
		}

		&.vertical {
			flex-direction: column;
		}

		&.noTray {
			background: transparent;
			box-shadow: none;
			border: 0;
			padding: 0;
			h2 {
				color: var(--greyScale-grey8, #23262A);
				font-family: Pretendard;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 30px */
				letter-spacing: -0.4px;
				margin-bottom: 6px;
			}
			p {
				color: var(--greyScale-grey4, #8B909D);
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 130%; /* 20.8px */
				letter-spacing: -0.32px;
				margin-bottom: 20px;
			}
			h3 {
				color: var(--greyScale-grey8, #23262A);
				font-family: Pretendard;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 27px */
				letter-spacing: -0.36px;
			}
			.resultCost {
				margin: 0;
				margin-top: -10px;
				width: 100%;
				border-radius: 12px;
			}
		}

		.photoWrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			gap: 40px;
			border-top: 1px solid var(--greyScale-grey1, #DEE3E9);
			padding-top: 10px;
			&.vertical {
				flex-direction: column;
				padding-bottom: 10px;
				border-bottom: 1px solid var(--greyScale-grey1, #DEE3E9);
			}
			.constructImg {
				padding: 0;
				border: 0;
				background-color: transparent;
				box-shadow: none;
				flex: 1 0 0;
				.imgWrap {
					min-height: 68px;
				}
			}
		}

		.tab-contrastCon {
			width: 100%;
		}
		.footerWrap {
			gap: 10px;
			flex-wrap: wrap;
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 20px;
			border-top: 1px solid var(--greyScale-grey2, #CFD4D9);
			color: var(--greyScale-grey7, #30343A);
			font-family: Pretendard;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.36px;
			.total {
				color: var(--blueTone-primary, #1F79FF);
			}
		}
		.contrastCon {
			width: 100%;
			padding-top: 20px;
			border-top: 1px solid var(--greyScale-grey2, #CFD4D9);
			display: flex;
			gap: 20px;
			& + .contrastCon {
				margin-top: 20px;
			}
			&.vertical {
				flex-direction: column;
				.tit {
					flex: 0 0 auto;
				}
			}
			.tit {
				flex: 0 0 280px;
				display: flex;
				gap: 20px;
				color: var(--greyScale-grey5, #686E7A);
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 24px */
				letter-spacing: -0.32px;
				.btn-border-sm {
					height: 27px;
				}
			}
			.itemList {
				flex: 1 0 0;
				display: flex;
				flex-direction: column;
				// gap: 10px;
				.item {
					display: flex;
					align-items: center;
					gap: 20px;
					flex: 1 0 0;
					padding-right: 20px;
					flex-wrap: wrap;
					.name {
						display: flex;
						flex: 0 0 200px;
						flex: 1 0 0;
						padding: 7px 20px;
						box-sizing: border-box;
						align-items: center;
						gap: 5px;
						border-radius: var(--num-4, 4px);
						background: var(--bgNormal, #F5F5F7);
						color: var(--greyScale-grey5, #686E7A);
						font-family: Pretendard;
						font-size: 13px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 19.5px */
						letter-spacing: -0.26px;
						position: relative;
						margin: 6px 0;
					}
					.statusBadge {
						position: absolute;
						right: -3px;
						top: -4.5px;
						background: var(--greyScale-grey6, #434850);
						display: flex;
						padding: 0px var(--num-4, 4px);
						justify-content: center;
						align-items: center;
						gap: 10px;
						color: var(--greyScale-white, #FFF);
						font-family: Pretendard;
						font-size: 10px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%; /* 15px */
						letter-spacing: -0.2px;
					}
					.price {
						flex: 0 0 160px;
						flex: 1 0 0;
						width: 160px;
						color: var(--greyScale-grey6, #434850);
						text-align: right;
						font-family: Pretendard;
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 24px */
						letter-spacing: -0.32px;
						.newValue,
						.value {
							color: var(--greyScale-grey6, #434850);
							text-align: right;
							font-family: Pretendard;
							font-size: 16px;
							font-style: normal;
							font-weight: 700;
							line-height: 150%; /* 24px */
							letter-spacing: -0.32px;
						}
					}
					.note {
						flex: 1 0 0;
						color: var(--greyScale-grey4, #8B909D);
						font-family: Pretendard;
						font-size: 14px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%; /* 21px */
						letter-spacing: -0.28px;
						.newValue,
						.value {
							color: var(--greyScale-grey4, #8B909D);
							font-family: Pretendard;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: 150%; /* 21px */
							letter-spacing: -0.28px;
						}
					}

					

					@include moreBtn();
					@include dropDown() {
						min-width: 92px;
						width: auto;
						box-shadow: 0px 4px 32px 0px var(--boxShadow);
						padding: 8px 0;
						.dropdown-item {
							color: var(--greyScale-grey6, #434850);
							font-weight: 600;
							padding: 8px 16px;
						}
				
						.red {
							color: var(--status-red, #E63939);
						}
				
						.primary {
							color: var(--blueTone-primary, #1F79FF);
						}
					}
					&.edit {
						.price {
							.value {
								color: var(--greyScale-grey3, #BDC1CC);
								font-family: Pretendard;
								font-size: 14px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%; /* 21px */
								letter-spacing: -0.28px;
								text-decoration: line-through;
							}
						}
						.note {
							.value {
								color: var(--greyScale-grey3, #BDC1CC);
								font-family: Pretendard;
								font-size: 12px;
								font-style: normal;
								font-weight: 600;
								line-height: 150%; /* 18px */
								letter-spacing: -0.24px;
								text-decoration: line-through;
							}
						}
					}

					&.edit {
						.statusBadge {background: var(--greyScale-grey6, #434850);}
					}
					&.delete {
						.statusBadge {background: var(--status-red, #E63939);}
						.note .value,
						.price .value {
							color: var(--greyScale-grey3, #BDC1CC);
							text-decoration: line-through;
						}
					}
					&.append {
						.statusBadge {background: var(--blueTone-blue6, #70A8F7);}
					}


					@media screen and (max-width:768px) {
						padding-right: 0;
						gap: 0;
						background-color: var(--bgNormal, #F5F5F7);
						padding: 4px 0;
						border-radius: 8px;
						& + .item {
							margin-top: 8px;
						}
						.name {
							flex-basis: 100%;
							padding: 7px 10px;
							margin: 0;
						}
						.note,
						.price {
							flex: 0 0 auto;
							width: auto;
							padding: 7px 10px;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width:425px) {
		.tray {
			padding: 20px;
		}
	}
}

.tab3 {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	border: 0;
	border-radius: 0;
	.nav-item {
	}
	.nav-link {
		color: var(--greyScale-grey3, #BDC1CC);
		font-family: Pretendard;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%; /* 27px */
		letter-spacing: -0.36px;
		border: 0;
		padding: 0;
		&.active {
			color: var(--greyScale-grey8, #23262A);
			background-color: transparent;
		}
	}
}

.section--otherConstruct {
	padding: 80px 0 146px;
	background: #F6F7F8;
	overflow: hidden;
	.inner {
		max-width: 1240px;
		padding: 0 20px;
	}
	h2 {
		color: var(--Labels-Primary, #000);
		font-family: Pretendard;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 48px */
		letter-spacing: -0.64px;
		margin-bottom: 46px;
	}
	.gallery {
		margin: 0;
	}
	.gallery .item {
		box-shadow: none;
		box-shadow: 0px 4px 10px 0px rgba(171, 163, 194, 0.20);
	}
	.slick-track {
		padding-bottom: 14px;
	}
	.slick-slide {
		margin: 0 10px;
	}
	.slick-prev {
		left: -130px;
		width: 80px;
		height: 80px;
		aspect-ratio: 1/1;
		background: url(../img/ic_gallary_slick_arr.svg) center no-repeat;
		text-indent: -9999px;
	}
	.slick-next {
		right: -130px;
		width: 80px;
		height: 80px;
		aspect-ratio: 1/1;
		background: url(../img/ic_gallary_slick_arr_r.svg) center no-repeat;
		text-indent: -9999px;
	}
}

.imgSlideModal {
	padding: 30px;
}
// .modal2 .modal-content:not(:has(.modal-footer)) {
// 	padding: 20px;
// }
.modal2 .modal-content {
	padding: 30px;
}
.imgSlideModal {
	@keyframes loading {
		0% {
			background-color: rgba(0,0,0,0.01);
		}
		70% {
			background-color: rgba(0,0,0,0.05);
		}
		100% {
			background-color: rgba(0,0,0,0.01);
		}
	}
	.loadingBx {
		// background-color: rgba(0,0,0,0.03);
		transition: 0.3s;
		animation-duration: 1.2s;
		animation-name: loading;
		animation-iteration-count: infinite;
	}
	.slick-list {
		height: 100%;
	}
	.single-item {
		opacity: 0;
		transition: 0.3s;
		.imgWrap {
			// transition: 0.2s;
			// transition-delay: 1s;
			width: 100%;
			height: 100%;
			aspect-ratio: 16/9;
			max-width: 720px;
			max-height: 420px;
			img {
				opacity: 0;
				transition: 0.3s;
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
	}
	&.show {
		.loadingBx:has(.slick-initialized) {
			animation: none;
		}
		.single-item.slick-initialized {
			opacity: 1;
			.imgWrap {
				img {
					opacity: 1;
				}
			}
		}
	}
	@media screen and (max-width:768px) {
		padding: 10px;
		.modal-content {
			padding: 20px;
			padding-bottom: 20px !important;
		}
		.loadingBx {
			margin-left: -20px;
			margin-right: -20px;
			width: calc(100% + 40px);
		}
	}
	
}